= link_to registration_path(resource_name), data: { confirm: "Êtes-vous sûr ?" }, method: :delete, :class => 'white-text btn btn-flat red darken-1 waves-effect waves-light' do
  %i.mdi-alert-warning
  &nbsp;
  Supprimer
