.arrowed-title:before {
  content: image-url('list.png');
  margin-right: 5px;
}
.arrowed-title-white:before {
  content: image-url('list_white.png');
  margin-right: 5px;
}

#main {
  padding-top: 90px;
  min-height: 550px;
  height: 90vh;
  max-height: 600px;
  box-sizing: border-box;

  #code_image {
    width: 100%;
    min-height: 550px;
    height: 90vh;
    max-height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    img {
      display: block;
      margin: auto;
      position: absolute;
      top: 300px;
      // bottom: -8vh;
    }
  }
}

#actions {
  padding-top: 100px;
  padding-bottom: 30px;

  a.btn {
    font-family: "Roboto";
    font-weight: 300;
    font-variant: small-caps;
    font-size: 2.2em;
    line-height: 75px;
    height: 70px;
  }

  a.link {
    &:hover {
      color: #666 !important;
    }
  }

  @media (max-width: 600px) {
    a.btn {
      font-size: 1em;
      line-height: 50px;
      height: 45px;
    }
  }
}

#features, #quickstart {
  background: #f1f1f1;

  h1, h2, h3, h4, h5, h6, a, p {
    color: #666;
    text-align: left;
  }
  h5 {
    font-weight: 600;
  }
  p {
    font-weight: 300;
    font-size: 1.05em;
  }

  .links {
    text-align: right;
    a {
      @extend .light-green-text;
      font-weight: 500;
      padding-right: 10px;

      &:hover {
        @extend .light-green-text, .darken-1;
      }
    }
  }
}

#video, #customize, #platforms {
  h1, h2, h3, h4, h5, h6, a, p, li {
    color: #666;
    font-weight: 600;
  }
  p {
    font-weight: 300;
    font-size: 1.05em;
  }
  h5 {
    margin-bottom: 20px;
  }
  h6 {
    margin: 0;
  }
  li a {
    font-weight: 400;
  }
}

#community {
  @extend .light-green, .darken-4;
  background-image: image-url('map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-position: center -150px;
}

@media (max-width: 1100px) {
  #community {
    background-position: center center;
  }
}

#quickstart {
  @extend .brown, .darken-2;
  h1, h2, h3, h4, h5, h6, a, p, li {
    color: white;
  }
  ol, ul {
    margin: 20px 0;
    padding-left: 15px;
  }
  li {
    list-style-type: none;
    font-weight: 300;
    font-size: 1.2em;

    &:before {
      content: "»";
      margin-right: 10px;
    }
  }

  .rocket {
    width: 250px;
  }
}
.video:hover {
  @extend .z-depth-2;
}

.last-call {
  margin-top: 50px;
  margin-bottom: 0;

  hr {
    border-top: 0px solid #eeeeee;
    margin-bottom: 50px;
  }
}

.band {
  margin: 30px 0;
}
