.input-field input[type=text]:valid, .input-field input[type=password]:valid, .input-field input[type=email]:valid, .input-field input[type=date]:valid, .input-field textarea:valid {
  border-bottom: 1px solid #8bc34a;
  -webkit-box-shadow: 0 1px 0 0 #8bc34a;
  -moz-box-shadow: 0 1px 0 0 #8bc34a;
  box-shadow: 0 1px 0 0 #8bc34a;
}

[type="checkbox"]:checked + label:before {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #8bc34a;
  border-bottom: 2px solid #8bc34a;
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset !important;
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #666;
}

form {
  a {
    &:not(.btn) {
      &:hover {
        color: #666 !important;
      }
    }
  }

  .hint {
    @extend .grey-text;
    font-size: 0.85em;
    margin-top: -15px;
  }

  .error_notification {
    margin: 0 0 25px 0;
    padding: 10px;
    text-align: center;
    @extend .red, .white-text;
  }

  .error, span.input-error {
    font-weight: bold;
    font-size: 0.85em;
    display: block;
    // @extend .red, .white-text;
    // padding: 5px;
    margin-top: -5px;
  }

  input.error, textarea.input-error {
    font-weight: normal;
    font-size: 1em;
    margin-top: 0;
  }

  .form-inputs {
    padding: 0 12px;
  }

  input.input-error, textarea.input-error {
    border-bottom: 1px solid #F44336 !important;
    box-shadow: 0 1px 0 0 #F44336 !important;
  }
}
