html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

body.nav-on {
  margin-top: 80px;
}

::-moz-selection {
  color: white;
  background: #8bc34a;
}

::selection {
  color: white; 
  background: #8Bc34a;
}

html.turbolinks-progress-bar::before {
  background-color: #795548 !important;
  height: 2px !important;
}

#preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 999;

  .preloader-wrapper {
    position: fixed;
    top: 43vh;
    left: 47vw;
  }
}

.btn i, .btn-flat i {
  font-size: 1em;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.small-caps {
  font-variant: small-caps;
}

.btn-border {
  @extend .text-white;
  border: 1px solid white;
  transition-duration: 0.3s;

  &:hover {
    @extend .white;
    box-shadow: none;

    &.green-hover {
      @extend .light-green-text;
    }
    &.brown-hover {
      @extend .brown-text, .lighten-2;
    }
  }
}

.btn-background-green {
  background: image-url('background_vert_button.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-background-brown {
  background: image-url('background_marron_button_2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-bg {
  background-attachment: scroll !important;
}

.fixed-bg {
  background-attachment: fixed !important;
}

h1, h2, h3, h4, h5, h6, a, p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a.submit {
  display: none;
}

.waves-effect.waves-medium .waves-ripple {
  background-color: rgba(220, 220, 220, 0.65);
}
